# Data Science Challenge

In [1]:
# If you'd like to install packages that are not installed by default, uncomment the last two lines of this cell and replace <package list> with a list of your packages.
# This will ensure your notebook has all the dependencies and works everywhere

#import sys
#!{sys.executable} -m pip install <package list>


'''
EDA:
map showing number of employees per country
map showing managers per country

map showing avg salary per country
map showing employment status per country

map showing education per country

salary per year/month trend
'''

In [2]:
#Libraries
import pandas as pd
pd.set_option("display.max_columns", 101)

## Data Description

Column | Description
:---|:---
`id` | Record index
`timestamp` | Datetime (YYYY:MM:DD HH:MM:SS)
`country` | Current country of employment
`employment_status` | Employment status (Full time, Part time, Independent or freelancer)
`job_title` | Current job title of the candidate
`job_years` | No. of years working on the job
`is_manager` | Whether the candidate holds a managerial position or not (Yes or No)
`hours_per_week` | No. of hours per day committed to the current job
`telecommute_days_per_week` | No. of telecommuting days per week (working from home)
`education` | Highest degree in education the candidate has received
`is_education_computer_related` | Is the education related to the field of computer science (Yes or No)
`certifications` | Does the candidate have any relevant certifications (Yes or No)
`salary` | Monthly Salary (in US $$)

## Data Wrangling & Visualization

In [3]:
# Dataset is already loaded below
data = pd.read_csv("train.csv")

In [16]:
data['timestamp'] = pd.to_numeric(pd.to_datetime(data.timestamp))

data.head()

,id,timestamp,country,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,1,1544525546000000000,Slovenia,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,2,1483635470000000000,United States,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,3,1513584795000000000,Sweden,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,4,1545886612000000000,United States,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,5,1544537278000000000,United States,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000

In [4]:
#Explore columns
data.columns

Index(['id', 'timestamp', 'country', 'employment_status', 'job_title',
       'job_years', 'is_manager', 'hours_per_week',
       'telecommute_days_per_week', 'education',
       'is_education_computer_related', 'certifications', 'salary'],
      dtype='object')

In [5]:
#Description
data.describe()

,id,job_years,hours_per_week,telecommute_days_per_week,salary
count,4277.00000,4277.000000,4260.000000,4266.000000,4277.000000
mean,2139.00000,4.479697,40.859110,1.034927,7057.701984
std,1234.80788,1.990783,1.754911,1.651160,1308.572568
min,1.00000,0.000000,37.000000,0.000000,3622.000000
25%,1070.00000,3.407156,40.000000,0.000000,6496.788236
50%,2139.00000,4.640830,40.000000,0.000000,7166.000000
75%,3208.00000,5.000000,41.114138,1.000000,7614.831964
max,4277.00000,10.000000,45.000000,5.000000,10625.000000

In [6]:
data.country.unique()

array(['Slovenia', 'United States', 'Sweden', 'United Kingdom', 'Canada',
       'New Zealand', 'Belgium', 'France', 'Australia', 'India',
       'Denmark', 'Romania', 'Poland', 'Norway', 'Croatia', 'Netherlands',
       'Hungary', 'Argentina', 'Costa Rica', 'Switzerland', 'Germany',
       'Mexico', 'Ukraine', 'Spain', 'Czech Republic', 'Portugal',
       'South Africa', 'Hong Kong', 'Russia', 'Ireland', 'Guernsey',
       'Israel', 'Bulgaria', 'Uganda', 'Finland', 'Italy', 'Jersey',
       'United Arab Emirates', 'Austria', 'Turkey', 'Bahrain', 'Greece',
       'Colombia', 'Kenya', 'Peru', 'Saudi Arabia', 'Albania', 'Iceland',
       'Guatemala', 'Belarus', 'Moldova', 'Puerto Rico', 'Brazil',
       'Indonesia', 'Slovakia', 'Serbia and Montenegro', 'Singapore',
       'Malta', 'Venezuela', 'Latvia', 'China', 'Ecuador', 'Pakistan',
       'Vietnam', 'Bolivia', 'Paraguay', 'Thailand', 'Lithuania',
       'Jordan', 'Macedonia', 'Malaysia', 'Luxembourg', 'Philippines',
       'Syria', 'Ghana', 'Taiwan', 'Estonia', 'Uruguay'], dtype=object)

In [7]:
data.employment_status.unique()

array(['Full time', 'Independent or freelancer or company owner',
       'Part time'], dtype=object)

In [7]:
data.job_title.unique()

array(['Developer', 'DBA', 'Other', 'Data Scientist', 'Manager',
       'Architect', 'Analyst', 'Engineer', 'Sales',
       'Analytics consultant', 'Principal database engineer',
       'Sr Consultant '], dtype=object)

In [8]:
data.education.unique()

array(['Bachelors (4 years)', 'Masters', 'Associates (2 years)',
       'None (no degree completed)', 'Doctorate/PhD'], dtype=object)

In [12]:
from sklearn.tree import DecisionTreeRegressor

In [22]:
train_x = data[['id', 'timestamp',
       'job_years', 'is_manager', 'hours_per_week',
       'telecommute_days_per_week', 'education',
       'is_education_computer_related', 'certifications']]
train_y = data[['salary']]
model = DecisionTreeRegressor()
model.fit(train_x, train_y)

ValueError: could not convert string to float: 'Yes'

## Visualization, Modeling, Machine Learning

Build a model that can predict  salary and identify how different features influence their decision. Please explain the findings effectively to technical and non-technical audiences using comments and visualizations, if appropriate.
- **Build an optimized model that effectively solves the business problem.**
- **The model will be evaluated on the basis of mean absolute error.**
- **Read the test.csv file and prepare features for testing.**

In [4]:
#Loading Test data
test_data=pd.read_csv('test.csv')
test_data.head()

,id,timestamp,country,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications
0,1,12/13/2018 10:23:29,Ukraine,Full time,Developer,5.0,No,40.0,5,Doctorate/PhD,Yes,Yes
1,2,12/21/2017 3:51:48,United Kingdom,Full time,Developer,10.0,Yes,40.0,1,None (no degree completed),Unknown,No
2,3,12/23/2017 12:31:05,United States,Full time,Developer,3.0,No,40.0,0,Associates (2 years),Yes,Yes
3,4,12/14/2017 22:09:43,Canada,Full time,Analyst,5.0,No,40.0,0,Bachelors (4 years),Yes,No
4,5,1/2/2018 13:29:11,United States,Full time,DBA,5.0,Yes,40.0,0,Bachelors (4 years),Yes,No



**The management wants to know the most important features for the model.**

> #### Task:
- **Visualize the top 20 features and their feature importance.**

> #### Task:
- **Submit the predictions on the test dataset using the optimized model** <br/>
    For each record in the test set (`test.csv`), predict the value of the `salary` variable. Submit a CSV file with a header row and one row per test entry. 

The file (`submissions.csv`) should have exactly 2 columns:
   - **id**
   - **salary**

In [ ]:
#Submission
submission_df.to_csv('submissions.csv',index=False)

---